<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{format_date created_at}}
      
    </div>
    <div class="text">
      {{comment_text}}
    
      <button type="button"value="{{id}}" class="upvote-btn"><i class="fa-solid fa-arrow-up"></i></button>
      
      
        {{vote_count}}
      
      <button type="button"value="{{id}}" class="downvote-btn"><i class="fa-solid fa-arrow-down"></i></button>
      
    </div>
  </section>
  {{/each}}
</div>